
#formulario{
    float: left;
    margin-left: 15%;
    margin-top: 5%;
}
#cambio{
    float: left;
    width: 30%;
    height: 100%;
    background: black;
}
#cont{
    height: 30%;
    display: block;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number]{
    -moz-appearance:textfield; 
}