body{
    background: url('../img/img.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#formulario{
    text-align: center;
    margin: 0 auto;
    width: 40%;
    height: 30%;
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;
    border-radius: 8px/7px;
    background-color: rgba(71, 23, 113, 0.91);
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    border: solid 1px #cbc9c9;
    float:center;
    position: absolute;
    top: 35%;
    left: 30%;
    bottom: 35%;
    color: white;
    font-size: larger;
}
#cambio{
    margin-left: 2%;
    float: left;
    width: 10%;
    height: 50%;
    background: black;
}
#logo{
    float: right;
    width: 15%;
    height: 100%;
    right: 2%;
    background: url('../img/Escudo.png');
    background-repeat: no-repeat;
    background-size: 70%;
}
#cont{
    height: 30%;
    display: block;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance:textfield;
}
label.matricula {
        font-size: 200%;
}

label.nombre {
    font-size: 130%;
}

.cajaDeTexto {
    font-family: Arial;
    font-size: 150%;
    text-align: center;
    background-color: #00FF00"
}
hr{
    border: 0px;
}
