body{
    background: url('../img/img.jpg');
    background-attachment: fixed;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}
#formulario{
    text-align: center;
    width: 30%;
    font-size: larger;
    color: white;
    float: left;
    margin-left: 15%;
    margin-top: 10%;
    border: 1px solid black;
    padding: 3%;
    background: rgba(14, 13, 11, .8)
}
#cambio{
    float: left;
    width: 30%;
    height: 100%;
    background: black;
}
#logo{
    float: right;
    width: 15%;
    height: 100%;
    right: 2%;
    background: url('../img/Escudo.png');
    background-repeat: no-repeat;
    background-size: 50%;
}
#cont{
    height: 30%;
    display: block;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number]{
    -moz-appearance:textfield; 
}